<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue sur notre TP GL</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Bienvenue sur notre TP GL !</h1>
    </header>

    <section class="presentation">
      <h2>Présentation du Projet</h2>
      <p>
        Ce projet a pour but de démontrer nos compétences Sur les Testes Logiciel .
      </p>
    </section>
  
      <a href="/api-docs" class="styled-button">Accéder à la documentation</a>
   
    <section class="members">
      <h2>Membres du Projet</h2>
      <ul>
        <li>WOUATCHOU YVES</li>
        <li>WINGO OBED</li>
        <li>MOUOPE STEFAN</li>
        <li>DABOU NESTLINE</li>
        <li>TINGI ORNELLA</li>
        <li>DONKAM YVAN</li>
        <li>CYNDI JOYCE</li>
      </ul>
    </section>

    <footer>
      <p>&copy; 2025 TP GL </p>
    </footer>
  </div>
</body>
</html>
